@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Custom CSS
*/
  
#app{
  display: flex;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  flex-direction: column;
}

body main{
  flex-grow: 1;
}