@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Custom CSS
*/
  
body{
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}
#app{
  min-height: 100vh;
  display: flex;
  gap: 2rem;
}

#app > * {
  min-height: 100%;
}

#app #sidebar-left, #app #sidebar-right{
  text-align: start;
  /* width: 30%; */
  /* max-width: 500px; */
  width: 500px;
}

#app #sidebar-left, #app #game-container, #app #sidebar-left{
  min-height: 100%;
}